    
    {% block javascript %}
      {% if page != 'not_index' %}
        <script src="{{ url_for('static', filename='js/focus-trap.js') }}" defer></script>
      {% endif %}

      <script type="text/javascript">
          
      </script> 

      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer ></script>
      <script src="{{ url_for('static', filename='js/init-alpine.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}

  </body>
</html>