    
    {% block javascript %}
      {% if page != 'not_index' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer ></script>
        <script src="{{ url_for('static', filename='js/charts-lines.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/charts-pie.js') }}" defer></script>
      {% endif %}

      <script type="text/javascript">
          const csrftoken = "{{csrf_token()}}"
      </script> 

      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer ></script>
      <script src="{{ url_for('static', filename='js/init-alpine.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}

  </body>
</html>