<main id="main-pedidos" class="h-full pb-16 overflow-y-auto hidden">
    <div class="container grid px-6 mx-auto">
      <h2
        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
      >
        Pedidos
      </h2>
      
      <div class="w-full overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <th class="px-4 py-3">Cliente</th>
                <th class="px-4 py-3">Fecha de compra</th>
                <th class="px-4 py-3">Envio a domicilio</th>
                <th class="px-4 py-3">Aciones</th>
              </tr>
            </thead>
            <tbody id="container-orders" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" >
             
            </tbody>
          </table>
        </div>
        <div
          class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800"
        >
         
        </div>
      </div>
    </div>
     
</main>